/******************************************************************************
 * Worker application screen styles
 */

.pad-left {
    padding-left: 10px;
}
.subsection {
}
.tasks h4 {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}


/* Log */

.logfile {
    border-top: 1px solid #ccc;
}
.logfile .line {
    font-family: monospace;
    font-size: 80%;
}
.logfile .panel-body {
    padding-bottom: 10px;
}