<%inherit file="base.mako" />
<%block name="nav">
<li class="active"><a href="/projects">Projects</a></li>
<li><a href="/log">Log</a></li>
</%block>

<div class="container">
    <div class="row">
        <div class="span12">
            <h3>Help</h3>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            Help content
        </div>
    </div>
</div>

